
    <div class="header_contact">
      <img width="300px" src="/img/beefsteak_outline.svg" id="header_logo" style="z-index: 999;"><br>
    </div>

  <div class="row"><br>

    <div class="large-10 large-centered large-offset-4 columns">
    <h3 style="padding-top: 25px">CONTACT US</h3>
    <p style="font-size: 1em; margin-top: -20px;">We promise this is a real form and the beefsteak captains will respond!</p>
    <form action="/thankyou" method="POST" style="padding-top: 25px; margin-bottom: 200px">
      <input type=hidden name="oid" value="00DG0000000lAaW">
      <input type=hidden name="retURL" value="http://www.crowdtangle.com/contact">
      <input id="POST-first_name" type="text" name="first_name" placeholder="First Name" />
      <input id="POST-last_name" type="text" name="last_name" placeholder="Last Name" />
      <input id="POST-email" type="text" name="email" placeholder="Email" />
      <input id="POST-org" type="text" name="company" placeholder="Company/Organization" />
      <textarea id="POST-hearaboutus" type="text" name="description" placeholder="How Did you Hear About Us?" /></textarea><br>
      <button type="submit" value="Submit" class="button radius" style="float: left;">Submit</button>
    </div>
   

  </div> 
</form>


<style>

footer {
  position: fixed;
  bottom: 0px;
  font-family: "Nunito", sans-serif;
  width: 100%;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 100px;
  color: gray;
  background-color: rgb(26, 26, 26);
  height: 90px;
  max-width: 100%;
  z-index: -1;

}


</style>