
    <div class="header">
      <a href="/"><img width="300px" src="/img/beefsteak_outline_white.svg" id="header_logo" style="z-index: 999;"></a><br>
    </div>

  <div class="row"><br>

    <div class="large-10 large-offset-2 columns">
    <h3 style="padding-top: 150px">Contact Us</h3>
    <p style="font-size: 1em; margin-top: -20px;">We promise this is a real form and the beefsteak captains will respond!</p>
    <form action="/contact" method="POST" style="padding-top: 25px; margin-bottom: 200px">
      <input id="POST-name" type="text" name="full_name" placeholder="Full Name" />
      <input id="POST-email" type="text" name="email" placeholder="Email" />
      <textarea id="POST-message" type="text" name="message" placeholder="What's up?" /></textarea><br>
      <button type="submit" value="Submit" class="button radius" style="float: left;">Submit</button>
    </div>
   

  </div> 
</form>

</div>


<style>

footer {
  position: fixed;
  bottom: 0px;
  font-family: "Nunito", sans-serif;
  width: 100%;
  padding-top: 30px;
  padding-left: 380px;
  padding-right: 100px;
  color: gray;
  background-color: rgb(26, 26, 26);
  height: 90px;
  max-width: 100%;
  z-index: -1;

}


</style>