<div class="container second-section">
    <div class="main-body-paragraph" style="padding-bottom: 0px">
        <div class="beefsteak-bar back">
          <ul class="hidden-xs" style="margin-left: -40px">
            <a href="/">BACK</a>
          </ul>
        </div>
        <span class="ladies">History</span>
        <br/><br/>

            <img class="jumbotron-people" src="/img/steakbeer.jpg" style="width: 100%">
            <span class="small-text">
            	Beefsteak dinner at Reisenwebers to honour H.H. Rogers & Mark Twain, approx. 1908
            </span>

            <br/><br/>
<b>ALL YOU CAN HOLD FOR FIVE BUCKS<br/>
<span class="stars-text">By Joseph Mitchell, Originall Published in the New Yorker Magazine, 1939</span><br/><br/>
The New York State steak dinner, or “beefsteak,” is a form of gluttony as stylized and regional as the
riverbank fish fry, the hot-rock clambake, or the Texas barbeque.<br/><br/> Some old chefs believe it had its
origin sixty or seventy years ago, when butchers from the slaughterhouses on the East River would
sneak choice loin cuts into the kitchens of nearby saloons, grill them over charcoal, and feast on them
during their Saturday-night sprees. In any case, the institution was essentially masculine until 1920,
when it was debased by the Eighteenth and Nineteenth Amendments to the Constitution of the United
States.<br/><br/>The Eighteenth Amendment brought about mixed drinking; a year and a half after it went into
effect, the salutation “We Greet Our Better Halves” began to appear on the souvenir menus of
beefsteaks thrown by bowling, fishing, and chowder clubs and lodges and labor unions. The big,
exuberant beefsteaks thrown by Tammany and Republican district clubs always had been strictly
stag, but not long after the Nineteenth Amendment gave women the suffrage, politicians decided it
would be nice to invite females over voting age to clubhouse beefsteaks. “Womenfolks didn’t know
what a beefsteak was until they got the right to vote.” An old chef once said.

            <span class="feature-aside" style="border: none"> 
                <img class="jumbotron-people" src="/img/article_short.png" style="width: 100%">
                <span class="small-text">New York Times - February 23, 1913</span>
            </span>

It didn’t take women long to corrupt the beefsteak. They forced the addition of such things as
Manhattan cocktails, fruit cups, and fancy salads to the traditional menu of slices of ripened steaks,
double lamb chops, kidneys, and beer by the pitcher. They insisted on dance orchestras instead of
brassy German bands. <br/><br/>

The life of the party at a beefsteak used to be the man who let out the most
ecstatic grunts, drank the most beer, ate the most steak, and got the most grease on his ears, but
women do not esteem a glutton, and at a contemporary beefsteak it is unusual for a man to do away
with more than six pounds of meat and thirty glasses of beer. Until around 1920, beefsteak etiquette
was rigid. Knives, forks, napkins, and tablecloths never had been permitted; a man was supposed to
eat with his hands. When beefsteaks became bisexual, the etiquette changed. 
<br/><br/>
For generations men had worn their second-best suits because of the inevitably of grease spots; tuxedos and women appeared simultaneously. Most beefsteaks degenerated into polite banquets at which open-face
sandwiches of grilled steak happened to be the principal dish. However, despite the frills introduced
by women, two schools of traditional steak-dinner devotees still flourish. They may conveniently be
called the East Side and West Side schools. They disagree over matters of menu and etiquette, and
both claim that their beefsteaks are the more classical or old-fashioned. <br/><br/>

            <span class="feature-aside" style="font-size: 30px; float: right; padding: 0px 30px; border-left: none; margin-top: 0px; margin-right: 20px; margin-left: 20px"> 
                <span class="ladies" style="font-size: 40px">beefsteak</span> - both the name of the event and the featured menu item — a slice of rare steak dipped in hot butter and Worcestershire sauce, served atop a crusty slice of bread.</span>  
            </span>

            So begins Joseph Mitchell’s 1939 New Yorker <a href="http://www.smokinjoesbbq.com/pdf/BeefSteakHistory.pdf" target="_blank">article</a>, the definitive text of beefsteak tradition and guiding light of modern beefsteak movement. <br/><br/>As Paul Lukas explains in his 2007 New York Times <a href="http://www.nytimes.com/2008/01/30/dining/30beef.html?pagewanted=all">article</a>, the beefsteak had disappeared from New York, surviving  only as a fundraising event in the union halls of New Jersey.
            <br><br>
            The Brooklyn Beefsteak is an all-you-can-eat-and-drink beef and beer feast, in partnership with Brooklyn Brewery.

            <br/><br/> 

            At a beefsteak, participants wear white aprons and are encouraged to eat all the beefsteaks their heart's desire, without the luxury of cutlery or napkins. Some beefsteakers prefer not to fill up on anything but beef and beer, leaving their bread behind to be stacked in piles. Seasoned beefsteakers pride themselves on the height of their bread tower and the number of grease spots on their apron.

            <br/><br/>
            <div class="ladies" style="font-size: 32px; line-height: 33px">
                "There is no wrong way to throw a beefsteak!" <br/>-Bill Wander, Beefsteak Historian
            </div>
            <br/>

            <div class="social-icons hidden-xs hidden-sm" style="margin-right: 0px">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_reddit_large' displayText='Reddit'></span>
                <span class='st_email_large' displayText='Email'></span>
                <br/>
            </div>

            <br/>

    </div>
</div>







<style>

footer {
	padding-left: 210px;
	height:75x;
	margin-bottom: 20px;
}

#foot {
	height: 30px;
	margin-bottom: 40px;
}

</style>





