<div class="container master-container">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="beefsteak-bar">
          <ul class="nav navbar-nav pull-right hidden-xs">
            <li class=""><a href="#">ALL YOU CAN EAT // ALL YOU CAN STAND // EST. 2009 </a></li>
          </ul>
          <ul class="nav navbar-nav hidden-md hidden-sm hidden-lg">
            <li class=""><a href="#">ALL YOU CAN EAT // ALL YOU CAN STAND // EST. 2009 </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <a href="/">
        <div class="container">
            <div class="jumbotron-logo">
                <img class="coming" src="/img/coming.png">
                <img class="beefsteak-logo animated infinite bounce" src="/img/appearing copy.png">
                <img class="mash animated infinite bounce" src="/img/mash-logo.svg" style="display: none">
            </div>

            <div id="slides" class="slider_container">
              <img class="camera" src="/img/camera3.png">
              <img class="jumbotron-people" src="/img/band_cutout.png">
              <img class="jumbotron-people" src="/img/band_people.png">
<!--               <img class="camera" src="/img/girl.png"> -->
            </div>
        </div>
    </a>
</div>


<div class="container second-section">
    <div class="cities">
        <a class="js-tickets-on-sale" href=""><span>NEW ORLEANS</span></a>
        <span data-toggle="tooltip" data-placement="bottom" title="Tickets On Sale Soon!">LONDON</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">STOCKHOLM</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">BOSTON</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">PHILADELPHIA</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">WASHINGTON, DC</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">CHICAGO</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">AUSTIN</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">BROOKLYN</span>
    </div>
        <img class="tickets-on-sale hidden-xs hidden-sm" src="/img/tickets_nola.png">
        <button type="submit" value="Submit" class="mobile-ticket-button button radius tiny hidden-md hidden-lg js-tickets-on-sale" style="margin-bottom: 20px">New Orleans Tickets On Sale Now</button>

        <div class="main-body-paragraph" style="padding-bottom: 0px">

        	<span class="ladies">History</span>

        	<br/><br/>

            <img class="jumbotron-people" src="/img/steakbeer.jpg" style="width: 100%">
            <span class="small-text">
            	Beefsteak dinner at Reisenwebers to honour H.H. Rogers & Mark Twain, approx. 1908
            	</span>

            <br/><br/>
            “The New York State steak dinner, or “beefsteak,” is a form of gluttony as stylized and regional as the riverbank fish fry, the hot-rock clambake, or the Texas barbeque. 

            Some old chefs believe it had its origin sixty or seventy years ago, when butchers from the slaughterhouses on the East River would sneak choice loin cuts into the kitchens of nearby saloons, grill them over charcoal, and feast on them during their Saturday-night sprees.<br><br/><br/>

			<span class="feature-aside"> <span class="ladies" style="font-size: 40px">beefsteak</span> - a cut of rare beef dipped in hot butter and Worcestershire sauce, served over a crusty slice of bread.</span>	

            In any case, the institution was essentially masculine until 1920, when it was debased by the Eighteenth and Nineteenth Amendments to the Constitution of the United States. The Eighteenth Amendment brought about mixed drinking; a year and a half after it went into effect, the salutation “We Greet Our Better Halves” began to appear on the souvenir menus of beefsteaks thrown by bowling, fishing, and chowder clubs and lodges and labor unions. <br><br>The big, exuberant beefsteaks thrown by Tammany and Republican district clubs always had been strictly stag, but not long after the Nineteenth Amendment gave women the suffrage, politicians decided it would be nice to invite females over voting age to clubhouse beefsteaks. “Womenfolks didn’t know what a beefsteak was until they got the right to vote.” An old chef once said…”
            <br/><br/>

			<span class="feature-aside" style="float: right; border: none"> 
			<img class="jumbotron-people" src="/img/article_short.png" style="width: 100%">
			<span class="small-text">New York Times - February 23, 1913</span>
			</span>
			
			So begins Joseph Mitchell’s 1939 New Yorker article “All You Can Hold For Five Bucks,” the definitive text of beefsteak tradition and guiding light of the Brooklyn Beefsteak. As Paul Lukas explains in his 2007 New York Times article, the beefsteak had disappeared from New York, surviving  only as a fundraising event in the union halls of New Jersey.
			<br><br>
			The Brooklyn Beefsteak is an all-you-can-eat-and-drink beef and beer feast, made possible in part by the generous support of Brooklyn Brewery.
			<br/><br/> 
			At a beefsteak, participants wear white aprons and are encouraged to eat all the beefsteaks their hearts desire, without the luxury of cutlery or napkins. Some beefsteakers prefer not to fill up on anything but beef and beer, leaving their bread behind to be stacked in piles. Seasoned beefsteakers pride themselves on the height of their bread tower and the number of grease spots on their apron.

			<br/><br/>
			<div class="ladies" style="font-size: 32px; line-height: 33px">
				"There is no bad way to throw a beefsteak!" <br/>-Bill Wander, Beefsteak Historian
			</div>
			<br/>
</p>


    </div>







    </div>



    
</div>
</div>

<style>

footer {
	padding-left: 210px;
	height:75x;
	margin-bottom: 20px;
}

#foot {
	height: 30px;
	margin-bottom: 40px;
}

</style>





