
    <div class="header">
      <a href="/"><img width="300px" src="/img/beefsteak_outline_white.svg" id="header_logo" style="z-index: 999;"></a><br>
    </div>

  <div class="row"><br>

    <div class="large-10 large-offset-0 columns">
    <h3 style="padding-top: 200px">History</h3>

    <p style="font-size:1.6em; line-height: 1.3em;">“The New York State steak dinner, or “beefsteak,” is a form of gluttony as stylized and regional as the riverbank fish fry, the hot-rock clambake, or the Texas barbeque. Some old chefs believe it had its origin sixty or seventy years ago, when butchers from the slaughterhouses on the East River would sneak choice loin cuts into the kitchens of nearby saloons, grill them over charcoal, and feast on them during their Saturday-night sprees.<br><br> In any case, the institution was essentially masculine until 1920, when it was debased by the Eighteenth and Nineteenth Amendments to the Constitution of the United States. The Eighteenth Amendment brought about mixed drinking; a year and a half after it went into effect, the salutation “We Greet Our Better Halves” began to appear on the souvenir menus of beefsteaks thrown by bowling, fishing, and chowder clubs and lodges and labor unions. <br><br>The big, exuberant beefsteaks thrown by Tammany and Republican district clubs always had been strictly stag, but not long after the Nineteenth Amendment gave women the suffrage, politicians decided it would be nice to invite females over voting age to clubhouse beefsteaks. “Womenfolks didn’t know what a beefsteak was until they got the right to vote.” An old chef once said…”
	<br><br>

	So begins Joseph Mitchell’s 1939 New Yorker article “All You Can Hold For Five Bucks,” the definitive text of beefsteak tradition and guiding light of the Brooklyn Beefsteak. Shortly after graduating from college in 2009, Derek Silverman read Mitchell’s article after a British journalist told him of New York’s rich beefsteak tradition during a lively conversation at a lobster fest in Los Angeles, California. <br><br>The journalist relished in attending beefsteaks at his alma mater Oxford University and was surprised to hear the tradition was all but unknown to young New Yorkers. As Paul Lukas explains in his 2007 New York Times article, the beefsteak had disappeared from New York, surviving  only as a fundraising event in the union halls of New Jersey. Silverman soon returned to New York and shared the article with his roommate and fellow Wesleyan University classmate Andrew Dermont and together they set out to revive the beefsteak.
	<br><br>
	The Brooklyn Beefsteak is an all-you-can-eat-and-drink beef and beer feast, made possible in part by the generous support of New Yorks’ oldest beer, McSorley’s Ale.  The term “beefsteak” refers to both to the event and the featured menu item — a cut of rare beef dipped in hot butter and Worcestershire sauce, served over a crusty slice of bread. At a beefsteak, participants wear white aprons and are encouraged to eat all the beefsteaks their hearts desire, without the luxury of cutlery or napkins. Some beefsteakers prefer not to fill up on anything but beef and beer, leaving their bread behind to be stacked in piles. Seasoned beefsteakers pride themselves on the height of their bread tower and the number of grease spots on their apron.
	<br><br>
</p>
</div>
</div>

<style>

footer {
	padding-left: 210px;
	height:75x;
	margin-bottom: 20px;
}

#foot {
	height: 30px;
	margin-bottom: 40px;
}

</style>





