<div class="container master-container">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="beefsteak-bar">
          <ul class="nav navbar-nav pull-right hidden-xs">
            <li class=""><a href="#">ALL YOU CAN EAT // ALL YOU CAN STAND // EST. 2009 </a></li>
          </ul>
          <ul class="nav navbar-nav hidden-md hidden-sm hidden-lg">
            <li class=""><a href="#">ALL YOU CAN EAT // ALL YOU CAN STAND // EST. 2009 </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="jumbotron-logo">
            <img class="coming" src="/img/coming.png">
            <img class="beefsteak-logo animated infinite bounce" src="/img/appearing copy.png">
            <img class="mash animated infinite bounce" src="/img/mash-logo.svg" style="display: none">
        </div>

        <div id="slides" class="slider_container">
          <img class="camera" src="/img/camera2.png">
          <img class="jumbotron-people" src="/img/band_cutout.png">
          <img class="jumbotron-people" src="/img/band_people.png">
          <img class="camera" src="/img/girl.png">
        </div>
    </div>
</div>


<div class="container second-section">
    <div class="cities">
        <a class="js-tickets-on-sale" href=""><span>NEW ORLEANS</span></a>
        <span>LONDON</span>
        <span>STOCKHOLM</span>
        <span>BOSTON</span>
        <span>PHILADELPHIA</span>
        <span>WASHINGTON, DC</span>
        <span>CHICAGO</span>
        <span>AUSTIN</span>
        <span>BROOKLYN</span>
    </div>
        <img class="tickets-on-sale" src="/img/tickets_nola.png">
        <div class="main-body-paragraph" style="padding-bottom: 0px">
            <div class="social-icons pull-right" style="margin-right: 0px">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_reddit_large' displayText='Reddit'></span>
                <span class='st_email_large' displayText='Email'></span>
                <br/>
            </div>

            <span class="ladies">Ladies & Gents,</span>
            <br/><br/>
            Grab all the steak you can get your greasy hands on - it's the Brooklyn Beefsteak!
            <br/><br/>
            Five years running, New York’s galvanizing beef and beer banquet is coming to a city near you!   
            <br/><br/>
            We’re talking heaping trays of delectable sliced steak, an endless flow of Brooklyn Brewery beer, and a double-serving of the baddest hillbilly proto-rockers this side of the Allegheny – SIT & DIE! (Susquehanna Tool & Die Company)...


            <br/><br/>
            It’s a celebration of America's favorite libation and our carnivorous inclinations. Committed communal bread-stacking is not only welcome, but encouraged and rewarded.
            <br/><br/>
            So forget your forks and knives, tie on your aprons, and belly up for a boisterous taste of beefsteak tradition.
            <br/><br/><br/>

            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141676229&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            <br/><br/>

        </div>

      <form class="main-body-paragraph" method="POST" style="padding-top: 20px; padding-bottom: 0px">
        Sign up for our mailing list to stay up-to-date!<br/><br/>
        <input id="POST-email" type="text" name="email" placeholder="Enter Email" />
        <button class="email-submit" type="submit" value="Submit" class="button radius tiny" style="float: right;">Submit</button>
      </form>

      <div class="tickets" style="display: none; padding: 20px 120px">
        <div class="ticket-header">
            <span class="ladies">New Orleans</span>
            <span class="date">Sunday, March 29th</span>
        </div>

        <div class="ticket-details">Location to be announced! We are excited to make New Orleans are first stop! More details to be announced in the coming days.
        </div>

        <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=15861208301&ref=etckt" frameborder="0" height="306" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event registration</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com/e/brooklyn-beefsteak-tickets-15861208301?ref=etckt">Brooklyn Beefsteak</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

        <div class="ticket-details" style="margin-top: 20px"><b>What's included in the ticket price?</b><br/>3 hours of endless choice beef cuts, bottomless pints of Brooklyn Brewery oak soda, assorted sides, and your own beefsteak apron (for poolside summer grilling).
        </div>
      </div>

          <div class="container partner-container">
        <div class="partners">
            <h2 class="partners-headline">
                OUR FRIENDS & PARTNERS
            </h2>
                 <div class="partner-inner-container">
                    <span>
                        <a href="http://www.brooklynbrewerymash.com/" target="_blank">
                            <img class="mash-logo" src="/img/mash-gray.png" style="width: 200px; margin-right: 120px">
                        </a>
                    </span>
                    <span>
                        <a href="http://sirkensingtons.com"/ target="_blank">
                            <img class="sir-k" src="/img/sir-k.png" style="width: 140px; margin-right: 100px">
                        </a>
                    </span>
                    <span>
                        <img class="sir-k" src="/img/local.png" style="width: 160px">
                    </span>
                </div>
              </div>
    </div>







    </div>

<!--     <div style="text-align: center">
            <div class="main-body-paragraph">
                <h2 style="font-family:'Oswald'; font-size: 1em; text-align: left;">
                7-INCH LIMITED EDITION EP 
                </h2>
            </div>

          <iframe width="72%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141676229&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
    </div> -->


<script>

$(".email-submit").submit(function(e) {
    e.preventDefault();
    var url = "/contact"; // the script where you handle the form input.
    $('.email-submit').html("Submitting...");

    $.ajax({
       type: "POST",
       url: url,
       data: $("#POST-email").serialize(), // serializes the form's elements.
       success: function(data)
       {
          $('.email-submit').html("Thanks!"); 
       }
    });
});

$(".js-tickets-on-sale").click(function(e) {
    e.preventDefault();
    $(".main-body-paragraph").hide();
    $(".partner-container").hide();
    $(".tickets").show();

});

</script>

