

    <div class="header">
      <img width="300px" src="/img/beefsteak_outline.svg" id="header_logo"><br>
    </div>
    
   
    <div id="overlay" style="display:none">
        <div class="graphic"></div>
        <a href="/thankyou" data-reveal-id="myModal" data-reveal>
    </div>

    <!-- IMAGE SLIDER -->
    <div id="slides" class="slider_container">
      <img src="/img/beefsteak_1.jpg">
      <img src="/img/beefsteak_2.jpg">
      <img src="/img/beefsteak_3.jpg">
      <img src="/img/beefsteak_7.jpg">
      <img src="/img/camera.jpg">
    </div>


    <div id="arrow_down">
      <a href="#main_feature" class="scroll">
        <i id="arrow" class="fa fa-chevron-down fa-3x hide-for-small-only" style="color: white;"></i>
      </a>
    </div>

    <div id="main_feature" class="row">
      <div class="small-12 large-3 columns hide-for-small-only" style="text-align:left;">
        <img src="/img/paperboy.png">
          <div style="margin-left:20px; margin-top:30px;">
            <p class="spread">SPREAD THE WORD</p>
              <span class='st_facebook_large' displayText='Facebook'></span>
              <span class='st_twitter_large' displayText='Tweet'></span>
              <span class='st_reddit_large' displayText='Reddit'></span>
              <span class='st_email_large' displayText='Email'></span>
          </div>
      <a href="/thankyou" data-reveal-id="myModal" data-reveal>
      <!--   <img src="/img/merrymailman.png" style="margin-top:830px;">
        <img width="300px" src="/img/stayinknow.svg" style="margin-top:10px; text-align: right;"> -->
      </a>
    
            

      </div>
      <div class="small-12 large-9 columns">
        <h1 style="margin-top: -120px;"><%= @days.to_i %> DAYS!</h1>
        <h4 >UNTIL THE NEXT BEEFSTEAK!</h4>
        <h3>LADIES & GENTS,</h3></a>
        <p style="margin-bottom: 60px;">
        Grab all the steak you can get your greasy hands on – it’s the Brooklyn Beefsteak!<br><br> Five years running, New York’s galvanizing beef and beer banquet arrives at the Bell House on Sunday, April 13th in its boldest form to date.<br><br>

        We’re talking heaping trays of delectable sliced steak, an endless flow of McSorley’s Light & Dark, and a double-serving of the baddest hillbilly proto-rockers this side of the Allegheny – Susquehanna Tool & Die Company...SIT & DIE!<br><br>

        It’s a celebration of America's favorite libation and our carnivorous inclinations. Committed communal bread-stacking is not only welcome, but encouraged and rewarded.<br><br> So tie on your aprons*, forget your forks and knives, and belly up for a boisterous taste of New York tradition.<br><br></p>

        <a href="/thankyou" data-reveal-id="myModal" data-reveal>
        <img width="300px" src="/img/stayinknow.svg" style="margin-left:5px; margin-top: -50px; text-align: right;">
        </a>

          <a ref="/thankyou" data-reveal-id="myModal" data-reveal><span style="float: right; margin-left:20px;"><i class="fa fa-envelope-o fa-2x"></i></span></a>
          <a href="http://www.facebook.com/brooklynbeefsteak"><span style="float: right; margin-left:20px;"><i class="fa fa-twitter-square fa-2x"></i></span></a>
          <a href="https://twitter.com/BEEFSTEAKS"><span style="float: right; margin-left:20px;"><i class="fa fa-facebook-square fa-2x"></i></span>
          </a>
          

      


        <a href="http://www.ticketfly.com/purchase/event/504321?utm_medium=bks&wrKey=250D8692682B439BC1140E0B6BD11FB1">
        <div id="ticket_background" class="row" style="padding-top:50px; border: 1px dotted black; background-color:white;">
              <img src="/img/allyoucaneat.svg">
              <img src="/img/soldout.svg"></a>
  
          <div class="row" style="margin-top: 40px; margin-bottom: 60px">
            <div id="trigger_band" class="small-12 large-4 columns">
              <h1 id="details_header_date">Date</h1>
              <p id="date_text">Sunday, April 13th</p><br>
            </div>
            <div class="small-12 large-4 columns">
              <h1 id="details_header_seatings">Two Seatings</h1>
              <p id="two_seatings_text" style="margin-top: -25px; line-height: 22px;"><br>1PM (Sold out!)<br>5PM (Sold out!)</p><br>
            </div>
            <div class="small-12 large-4 columns">
              <h1 id="details_header">Tickets</h1>
              <p id="ticket_text" style="text-decoration:line-through; margin-top: 5px; margin-bottom: .3em">$50 for 4+ Groups</p>
              <p id="ticket_text" style="text-decoration:line-through;">$55 for Individuals</p>
            </div>
          </div>

          <div id="ticket_details" class="row">
            <div id="ticket" class="small-12 large-4 columns">
             <a href="http://www.ticketfly.com/purchase/event/504321?utm_medium=bks&wrKey=250D8692682B439BC1140E0B6BD11FB1"><img src="/img/ticket.png">
            </div></a>

            <div class="small-12 large-8 columns">
            <p>Ticket price includes all-you-can-eat beef, all-you-can-drink beer, your very own souvenir apron (for grilling in the sun), absolutely <b>NO UTENSILS</b>, and an endless helping of fun.<p>
            </div>
        </div>

            <div id="partners" class="row">
              <div class="small-12 small-centered large-9 large-offset-1 columns">
                <h2 style="font-family:'Nunito'; font-size: 1em; text-align: left;">OUR FRIENDS & PARTNERS</h2>
                 <ul class="small-block-grid-4" style="margin-top:20px;">
                      <li><a href="http://sirkensingtons.com"/ target="_blank"><img src="/img/sirk3.png"></li></a>
                      <li><a href="http://www.thebellhouseny.com/" target="_blank"><img src="/img/bellhouse2.png"></li></a>
                      <li><a href="http://www.lafrieda.com/" target="_blank"><img src="/img/mcsorleys_noborder.png" style="margin-top: 30px; margin-left:15px"></li></a>
                      <li><a href="http://www.mcsorleysnewyork.com/" target="_blank"><img src="/img/patlafrieda.png" style="margin-top: 10px; margin-left: 50px;"></li></a>

                </ul>
              </div>
          </div> 
        </div>
      </div>
      </div>

  

      </div>



  
</div>

       


<!-- <img src="/img/camera.png"> -->


  <div id="myModal" class="reveal-modal tiny" data-reveal>
    <div id="innerModal">
      <img width="40px" src="/img/beefbeerfun2.svg" style="float:right; margin-top:-10px; margin-right: -15px;">

      <span><h1 style="text-align: left; margin-left:60px; margin-top:50px; font-size: 1em;">Stay in the know.</h1><p style="font-size: 0.8em; margin-left:60px; margin-top: -20px;">We promise we don't spam! </p>
      <form action="/" method="POST" style="margin-left: 55px; margin-top: -20px">
        <input id="POST-email" type="text" name="email" placeholder="email" />
        <button type="submit" value="Submit" class="button radius tiny" style="float: left;">Submit</button>
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>
</div>



  
  <div id="theband">
    <div class="container_band hide-for-small-only">
      <div class="band_bottom_left"><img src="/img/theband.png"></div>
      <h3 class="band_text">Appearing Live! Susquehanna Industrial Tool & Die Company</h3>

      <div class="band_bottom_right"><img src="/img/michael.png"></div>
    </div>


</div>


