<div class="container master-container">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
         
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="beefsteak-bar">
          <ul class="nav navbar-nav pull-right hidden-xs">
            <li class=""><a href="#">ALL YOU CAN EAT // ALL YOU CAN STAND // EST. 2009 </a></li>
          </ul>
          <ul class="nav navbar-nav hidden-md hidden-sm hidden-lg">
            <li class=""><a href="#">ALL YOU CAN EAT // ALL YOU CAN STAND // EST. 2009 </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <a href="/">
        <div class="container">
            <div class="jumbotron-logo">
                <img class="coming" src="/img/coming.png">
                <img class="beefsteak-logo animated infinite bounce" src="/img/appearing copy.png">
                <img class="mash animated infinite bounce" src="/img/mash-logo.svg" style="display: none">
            </div>

            <div id="slides" class="slider_container">
              <img class="camera" src="/img/camera3.png">
              <img class="jumbotron-people" src="/img/band_cutout.png">
              <img class="jumbotron-people" src="/img/band_people.png">
              <img class="camera" src="/img/girl.png">
            </div>
        </div>
    </a>
</div>


<div class="container second-section">
    <div class="cities">
        <a class="js-tickets-on-sale" href=""><span>NEW ORLEANS</span></a>
        <span data-toggle="tooltip" data-placement="bottom" title="Tickets On Sale Soon!">LONDON</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">STOCKHOLM</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">BOSTON</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">PHILADELPHIA</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">WASHINGTON, DC</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">CHICAGO</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">AUSTIN</span>
        <span data-toggle="tooltip" data-placement="bottom" title="More Details To Come!">BROOKLYN</span>
    </div>
        <img class="tickets-on-sale hidden-xs hidden-sm" src="/img/tickets_nola.png">
        <button type="submit" value="Submit" class="mobile-ticket-button button radius tiny hidden-md hidden-lg js-tickets-on-sale" style="margin-bottom: 20px">New Orleans Tickets On Sale Now</button>
        <div class="main-body-paragraph" style="padding-bottom: 0px">
            <div class="social-icons pull-right hidden-xs hidden-sm" style="margin-right: 0px">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_reddit_large' displayText='Reddit'></span>
                <span class='st_email_large' displayText='Email'></span>
                <br/>
            </div>

        <div class="beefsteak-bar">
          <ul class="hidden-xs" style="margin-left: -40px">
            <span class="js-history-click" style="padding-right: 10px; cursor: pointer">HISTORY</span>
            <span class="js-tickets-on-sale" style="padding-right: 10px; cursor: pointer">TICKETS</span>
            <span style="padding-right: 10px"><a href="http://www.nytimes.com/2011/04/17/nyregion/beefsteak-banquets-undergo-revival-in-new-york.html" target="_blank" style="color: black">PRESS</a></span>
          </ul>
        </div>  

            <span class="ladies">Ladies & Gents,</span>
            <br/><br/>
            Grab all the steak you can get your greasy hands on - it's the beefsteak! Five years running, New York’s galvanizing beef and beer banquet is coming to a city near you!   
            <br/><br/>

            We’re talking heaping trays of delectable sliced steak, an endless flow of Brooklyn Brewery beer, and a double-serving of the baddest hillbilly proto-rockers this side of the Allegheny – SIT & DIE! (Susquehanna Tool & Die Company)...

            <br/><br/>
            <span class="main-feature-aside hidden-xs hidden-sm" style="padding-bottom: 0px">
                <span class="ladies" style="font-size: 40px">beefsteak</span> -
            both an event and the featured menu item — a cut of rare beef dipped in hot butter and Worcestershire sauce, served over a crusty slice of bread.
            </span>  

            It’s a celebration of America's favorite libation and our carnivorous inclinations. Committed communal bread-stacking is not only welcome, but encouraged and rewarded.
            <br/><br/>
            So forget your forks and knives, tie on your aprons, and belly up for a boisterous taste of beefsteak tradition.
            <br/>

        <div class="hidden-xs hidden-sm">
            <br/>
            <h2 class="music-headline">
                SIT & DIE COMPANY LIVE AT THE BEEFSTEAK
            </h2>
                
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141676229&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                <br/><br/>
        </div>
            

        </div>

      <form class="main-body-paragraph" method="POST" style="padding-top: 20px; padding-bottom: 0px">
        Sign up for ticket releases and other tasty announcements!<br/><br/>
        <input id="POST-email" type="text" name="email" placeholder="Enter Email" />
        <button class="email-submit" type="submit" value="Submit" class="button radius tiny" style="float: right;">Submit</button>
      </form>

      <div class="tickets" style="display: none;">

        <div class="beefsteak-bar back">
          <ul class="hidden-xs" style="margin-left: -40px">
            <!-- <li>BACK TO MAIN PAGE</li> -->
          </ul>
        </div>  


        <div class="ticket-header" style="border-bottom: 1px solid #EFEFEF; margin-bottom: 30px">
            <span class="ladies">New Orleans</span>
            <span class="date">Sunday, March 29th</span>
            <span class="date">Republic New Orleans</span>
        </div>

        <div style="width:100%; text-align:left; margin-bottom: 20px" ><iframe  src="//eventbrite.com/tickets-external?eid=15861208301&ref=etckt" frameborder="0" height="360" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>

        <div class="ticket-details">
        Laissez les Beefsteak rouler! The Brooklyn Beefsteak is bringing its all-you-can-eat (and drink) beef bacchanal to the Big Easy!<br/><br/>

        Sunday, March 29th (5 - 8 PM) we're inviting all omnivores to join us at Republic New Orleans to kick-off the most audacious Beefsteak tour to ever grace this meat-loving earth.<br/><br/>

        We're talking endless helpings of succulent sirloin washed down with a free flow of Brooklyn Brewery's tasty suds, served up with a hefty side of the SIT & DIE boys' quality-built hillbilly-style ballads, boogies, and blues. All you can eat BEEF, all you can drink BEER, all you can have FUN!<br/><br/>

        So forget your forks and knives, tie on your aprons, and laissez les Beefsteak rouler!
        </div>

        <div class="ticket-details" style="margin-top: 20px"><div class="included">What's included in the ticket price?</div>Three hours of endless choice beef cuts, bottomless pints of Brooklyn Brewery oat soda  and your own beefsteak apron (for poolside summer grillin'). 
        </div>
      </div>

    <div class="main-body-paragraph history" style="padding-bottom: 0px; display: none">

        <div class="beefsteak-bar back">
          <ul class="hidden-xs" style="margin-left: -40px">
            <!-- <li>BACK TO MAIN PAGE</a> -->
          </ul>
        </div>  

        <span class="ladies">History</span>
            <br/><br/>
            <img class="jumbotron-people" src="/img/steakbeer.jpg" style="width: 100%">
            <span class="small-text">
                Beefsteak dinner at Reisenwebers to honour H.H. Rogers & Mark Twain, approx. 1908
            </span>

            <br/><br/>
            “The New York State steak dinner, or “beefsteak,” is a form of gluttony as stylized and regional as the riverbank fish fry, the hot-rock clambake, or the Texas barbeque. 
            <br/><br/>
            Some old chefs believe it had its origin sixty or seventy years ago, when butchers from the slaughterhouses on the East River would sneak choice loin cuts into the kitchens of nearby saloons, grill them over charcoal, and feast on them during their Saturday-night sprees.<br><br/><br/>

            <span class="feature-aside" style="border: none"> 
                <img class="jumbotron-people" src="/img/article_short.png" style="width: 100%">
                <span class="small-text">New York Times - February 23, 1913</span>
            </span>

            In any case, the institution was essentially masculine until 1920, when it was debased by the Eighteenth and Nineteenth Amendments to the Constitution of the United States. The Eighteenth Amendment brought about mixed drinking; a year and a half after it went into effect, the salutation “We Greet Our Better Halves” began to appear on the souvenir menus of beefsteaks thrown by bowling, fishing, and chowder clubs and lodges and labor unions. <br><br>The big, exuberant beefsteaks thrown by Tammany and Republican district clubs always had been strictly stag, but not long after the Nineteenth Amendment gave women the suffrage, politicians decided it would be nice to invite females over voting age to clubhouse beefsteaks. “Womenfolks didn’t know what a beefsteak was until they got the right to vote.” An old chef once said…”
            <br/><br/>

            <span class="feature-aside" style="float: right; padding: 0px 30px; border-left: none;"> 
                <span class="ladies" style="font-size: 40px">beefsteak</span> - both the name of the event and the featured menu item — a slice of rare steak dipped in hot butter and Worcestershire sauce, served atop a crusty slice of bread.</span>  
            </span>


            So begins Joseph Mitchell’s 1939 New Yorker article “All You Can Hold For Five Bucks,” the definitive text of beefsteak tradition and guiding light of the Brooklyn Beefsteak. As Paul Lukas explains in his 2007 New York Times article, the beefsteak had disappeared from New York, surviving  only as a fundraising event in the union halls of New Jersey.
            <br><br>
            The Brooklyn Beefsteak is an all-you-can-eat-and-drink beef and beer feast, in partnership with Brooklyn Brewery.

            <br/><br/> 

            At a beefsteak, participants wear white aprons and are encouraged to eat all the beefsteaks their heart's desire, without the luxury of cutlery or napkins. Some beefsteakers prefer not to fill up on anything but beef and beer, leaving their bread behind to be stacked in piles. Seasoned beefsteakers pride themselves on the height of their bread tower and the number of grease spots on their apron.

            <br/><br/>
            <div class="ladies" style="font-size: 32px; line-height: 33px">
                "There is no wrong way to throw a beefsteak!" <br/>-Bill Wander, Beefsteak Historian
            </div>
            <br/>

            <div class="social-icons hidden-xs hidden-sm" style="margin-right: 0px">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_reddit_large' displayText='Reddit'></span>
                <span class='st_email_large' displayText='Email'></span>
                <br/>
            </div>

            <br/>



        </div>


          <div class="partner-container">
        <div class="partners">
            <h2 class="partners-headline">
                OUR FRIENDS & PARTNERS
            </h2>
                 <div class="partner-inner-container">
                    <span>
                        <a href="http://www.brooklynbrewerymash.com/" target="_blank">
                            <img class="mash-logo" src="/img/mash-gray.png">
                        </a>
                    </span>
                    <span>
                        <a href="http://sirkensingtons.com"/ target="_blank">
                            <img class="sir-k" src="/img/sir-k.png">
                        </a>
                    </span>
                    <span>
                        <img class="local" src="/img/local.png">
                    </span>
                </div>
              </div>
    </div>







    </div>

<!--     <div style="text-align: center">
            <div class="main-body-paragraph">
                <h2 style="font-family:'Oswald'; font-size: 1em; text-align: left;">
                7-INCH LIMITED EDITION EP 
                </h2>
            </div>

          <iframe width="72%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/141676229&amp;color=ff9900&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
    </div> -->


<script>

$(".email-submit").submit(function(e) {
    e.preventDefault();
    var url = "/contact"; // the script where you handle the form input.
    $('.email-submit').html("Submitting...");

    $.ajax({
       type: "POST",
       url: url,
       data: $("#POST-email").serialize(), // serializes the form's elements.
       success: function(data)
       {
          $('.email-submit').html("Thanks!"); 
       }
    });
});

$(".js-tickets-on-sale").click(function(e) {
    e.preventDefault();
    $(".mobile-ticket-button").hide();
    $(".main-body-paragraph").hide();
    $(".partner-container").hide();
    $(".tickets").show();

});

$(".js-history-click").click(function(e) {
    e.preventDefault();
    $(".mobile-ticket-button").hide();
    $(".main-body-paragraph").hide();
    $(".partner-container").hide();
    $(".history").show();
    $(".tickets").hide();
});

// $(".back").click(function(e) {
//     e.preventDefault();
//     $(".mobile-ticket-button").show();
//     $(".history").hide();
// });

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

