<!DOCTYPE=html>

<html>
  <head>
    <title>Brooklyn Beefsteak</title>
     <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/animate.min.css" >
    <link rel="stylesheet" href="/css/style.css?v=12" >
    <!-- GOOGLE FONTS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/jquery.smooth-scroll.js"></script>
    <script src="/js/jquery.slides.min.js"></script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "a57d4f7b-c6cd-4ced-a80f-4c2b3ccaa3d8", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "a57d4f7b-c6cd-4ced-a80f-4c2b3ccaa3d8", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '432164690294910']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=432164690294910&amp;ev=PixelInitialized" /></noscript>


  </head>
  
  <body>

  <%= yield %>
  
  <footer>
    <div class="container footer-info">
      <span style="letter-spacing: 2px">PRESS AND GENERAL INQUIRIES? INFO@BROOKLYNBEEFSTEAK.COM</span>
      <div class="pull-right" style="margin-right: 0px">
        <span class="hidden-xs hidden-sm" style="letter-spacing: 2px">2015 &#169; BROOKLYN BEEFSTEAK. ALL RIGHTS RESERVED.</span>
      </div>
    </div>
</footer>


</body>

<script>

$(window).load(function(){

});

    $(function(){
      $("#slides").slidesjs({
        width: 1330,
        height: 900,
        pagination: false,
        generatePagination: false,
         play: {
          active: false,
          effect: "slide",
          auto: true,
          interval: 5000,
          swap: true
        },
      slide: {
        speed: 9000,
          // [number] Speed in milliseconds of the fade animation
      }
      });
});

var switchTo5x=true;
stLight.options({publisher: "8bc8d9da-fb73-4a33-8063-86c2d095fa74", doNotHash: false, doNotCopy: false, hashAddressBar: false});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22336065-1', 'auto');
  ga('send', 'pageview');

</script>









</html>
