<!DOCTYPE=html>

<html>
  <head>
    <title>Brooklyn Beefsteak</title>
     <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/animate.min.css" >
    <link rel="stylesheet" href="/css/style.css" >
    <!-- GOOGLE FONTS -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8bc8d9da-fb73-4a33-8063-86c2d095fa74", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>



  </head>
  
  <body>

  <%= yield %>

  <footer>

       <div id="foot">
                   <span class="foot" style="margin-left:0px !important;">Press</span><span class="foot">History</span><span class="foot">Contact</span><!-- <span class="foot">Site Map</span> -->
                   <br><br>
         <br><br>
      </div>
  </footer>


</body>

<!-- JAVASCRIPT -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/jquery.smooth-scroll.js"></script>
<script src="/js/jquery.slides.min.js"></script>


<script>

 $(".scroll").click(function(event) {
    event.preventDefault();
    $('html,body').animate( { scrollTop:$(this.hash).offset().top - 200 }, 500);
    } );

$(document).foundation();
$('img').addClass('animated fadeIn');
$('#theband').hide();


$(window).load(function(){

  $('#overlay').fadeOut();


});

var inView = false;

function isScrolledIntoView(elem)
{
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + $(window).height();

    var elemTop = $(elem).offset().top;
    var elemBottom = elemTop + $(elem).height();

    return ((elemTop <= docViewBottom) && (elemBottom >= docViewTop));
}

$(window).scroll(function() {
    if (isScrolledIntoView('#trigger_band')) {
        if (inView) { return; }
        inView = true;
        $("#theband").fadeIn();
    } else {
        inView = false;  
    }
});


// $(window).scroll(function() {
//     if (isScrolledIntoView('#partners')) {
//         if (inView) { return; }
//         inView = true;
//         $("#theband").fadeOut();
//     } else {
//         inView = false;  
//     }
// });


$(window).scroll(function() {
    if (isScrolledIntoView('#partners')) {
        if (inView) { return; }
        inView = true;
        $("footer").css("margin-top:","-80px");
    } else {
        inView = false;  
    }
});

$(window).scroll(function() {
    if (isScrolledIntoView('#slides')) {
        if (inView) { return; }
        inView = true;
        $("#theband").fadeOut();
    } else {
        inView = false;  
    }
});





    $(function(){
      $("#slides").slidesjs({
        width: 1440,
        height: 900,
        pagination: false,
        generatePagination: false,
         play: {
          active: false,
          effect: "slide",
          auto: true,
          interval: 5000,
          swap: true
        },
      slide: {
        speed: 9000,
          // [number] Speed in milliseconds of the fade animation
      }
      });
});



</script>




</html>
