
<style>

body {
background-color: white !important;
}
</style>
<br><br><br><br>
<div class="row">
	<div class="small-12 large-12 columns">
		<h3>Performance Stats</h3>
			These stats show how long it takes for a user to get load stream of posts. Currently, this represents Overperforming, Underperforming, Most Recent, All Timeframes, All Post Type, All Lists (including All Feeds), Searches in these contexts. <br><br> It does not include Most Recent. 
			<br><br><br><br>
			<div>
				<iframe src="https://rpm.newrelic.com/public/charts/ehOWr5OXdWu" width="500" height="300" scrolling="no" frameborder="no" style="padding-right: 50px;"></iframe>
				<iframe src="https://rpm.newrelic.com/public/charts/5t88aqgulR0" width="770" height="300" scrolling="no" frameborder="no"></iframe>
				<iframe src="https://rpm.newrelic.com/public/charts/3u6mrU3Vbvn" width="1270" height="300" scrolling="no" frameborder="no"></iframe>
				<!-- <iframe src="https://rpm.newrelic.com/public/charts/9EexL5CMXr1" width="500" height="300" scrolling="no" frameborder="no" style="padding-right: 50px;"></iframe>
				<iframe src="https://rpm.newrelic.com/public/charts/7vpT3UZf3SQ" width="770" height="300" scrolling="no" frameborder="no"></iframe> -->
			</div>
	</div>
</div>

<div style="height:900px"></div>