
<style>

body {
background-color: white !important;
}
</style>
<br><br><br><br>
<div class="row">
	<div class="small-12 large-12 columns">
		<h3>Performance Stats</h3>
			These stats show how long it takes for a user to load a stream of posts. Currently, this represents Overperforming, Underperforming, Total Score, All Timeframes, All Post Type, All Lists (including All Feeds), and Search. <br><br> It does not include Most Recent. 
			<br><br><br><br>
			<div>
				<iframe src="https://rpm.newrelic.com/public/charts/ehOWr5OXdWu" width="900" height="300" scrolling="no" frameborder="no"></iframe>
				<iframe src="https://rpm.newrelic.com/public/charts/5t88aqgulR0" width="900" height="300" scrolling="no" frameborder="no"></iframe>
				<iframe src="https://rpm.newrelic.com/public/charts/3u6mrU3Vbvn" width="900" height="300" scrolling="no" frameborder="no"></iframe>
				<iframe src="https://rpm.newrelic.com/public/charts/lz3hCy37kia" width="900" height="300" scrolling="no" frameborder="no"></iframe>
				<iframe src="https://insights.newrelic.com/accounts/453528/query?query=SELECT%20uniquecount(session)%20FROM%20PageView%20WHERE%20appName%3D'off-canvas'%20SINCE%201%20hour%20ago%20COMPARE%20WITH%201%20hour%20ago" width="900" height="300" scrolling="no" frameborder="no"></iframe>
			</div>
	</div>
</div>

<div style="height:900px"></div>