
    <div class="header_contact">
      <img width="300px" src="/img/beefsteak_outline.svg" id="header_logo" style="z-index: 999;"><br>
    </div>

  <div class="row"><br>

    <div class="large-10 large-centered large-offset-4 columns">
    <h3 style="padding-top: 25px">Thank You!</h3>


  </div> 

